.wrap {
  composes: btnLetterWrap from './clueBoxButtons.module.css';
  background: #ddd;
}

.button {
  composes: btnLetter from './clueBoxButtons.module.css';
}

.buttonChecking {
  composes: btnLetter from './clueBoxButtons.module.css';
  border-color: #f00;
}
