.wrap {
  composes: btnLetterWrap from './clueBoxButtons.module.css';
  background: #ddd;
}

.wrapChecking {
  composes: btnLetterWrap from './clueBoxButtons.module.css';
  background: #d00;
}

.button {
  composes: btnLetter from './clueBoxButtons.module.css';
}
