.subMenuWrap {
  background: #FFF6CF;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.subMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 115px));
  gap: 1px 1px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.button {
  composes: btn from './clueBoxButtons.module.css';
}

.button:hover {
  background: #BDB387;
  background: #8A8BC5;
  color: #fff;
}

.languageHeader {
  color: #fff;
  margin-bottom: 15px;
}

.categoryHeader {
  margin-bottom: 10px;
}